
/* Контейнер миниатюр (группа) */
.yarl__thumbnails {
    max-width: 100%;              /* подстрой под реальную ширину фото */
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-start !important;
    padding-left: 0 !important;
}
.yarl__thumbnails_container {
    justify-content: flex-start !important;
    padding-left: 0 !important;
    scroll-snap-type: none !important;
}

.yarl__thumbnails {
    scroll-behavior: auto !important; /* убираем плавную прокрутку */
}

.yarl__thumbnails_track {
    justify-content: start !important; /* убираем автоцентрирование */
}


/* Убираем анимацию прокрутки и auto-centering */
.yarl__thumbnails {
    scroll-behavior: auto !important;
}

.yarl__thumbnails_track {
    justify-content:end !important;
    transition: none !important;
    transform: none !important;
}


